.container {
    max-width: 1171px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: white;
    background-image: url(../images/headerbg.jpg);
    background-size: cover;
    
}

.header-wrap {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #fffeff;
}

.header-head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    border-bottom: #4e526b solid 1.5px;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.activebox {
    display: flex;
    justify-content: left;
    margin: 10px;
    padding-bottom: 30px;
    
}
.active {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #64697c;
    font-size: 2.2rem;  
    font-weight: bold;
    font-weight: 600;
}

.box {
    
    text-transform: uppercase;
    font-size: 2.2rem;
    color: #ffffff;
}

.navigation-list {
    display: flex;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
}

.navigation-item {
    color: #c3c7d2;
    vertical-align: top;
    margin-left: 30px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.2s linear;
    font-weight: 800;
    text-transform: uppercase;
  }
  
  .navigation-item:hover {
    color: red;
  }

.header-main {
    padding: 155px 20px;
    max-width: 920px;
    align-self: center;
    text-align: center;
}

.main-title {
    font-size: 65px;
    font-weight: 700;
}

.main-subtitle{
    padding-top: 30px;
    font-size: 22px;
    line-height: 2;
}

.main-button {
    padding-top: 40px;
    
}

.button {
    display: inline-block;
    padding: 17px 41px;
    background-color: #e84546;
    color: #fffeff;
    font-size: 0.9rem;
    font-weight: 800;
    text-decoration: none;
    border-radius: 3px;
    transition: background 0.3s linear, color 0.3s linear;
}

.button:hover {
	background-color: red;
    
}




.advantages {
    padding-top: 45px;
    padding-bottom: 120px;
    width: 100%;
    background-color: white;
}

.advantages-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px -45px;
    padding-bottom: 100px;
}

.advantages-item {
    max-width: 296px;
    min-width: 200px;
    padding: 75px 45px 0px;
    
}

.advantages-item i {
    display: block;
    font-size: 60px;
    color: #e84546;
    text-align: center;
}

.advantages-item h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #2D3033;
    margin-top: 34px;
    text-align: center;
}

.advantages-item p {
    font-size: 0.8rem;
    color: #6C7279;
    margin-top: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 600;
}


.card-section
{
    width: 100%;
}
.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.cards-item
{
    width: 25%;
    position: relative;
}
.hidden-card
{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(232,69,69,0.8);
    position: absolute;
    left: 0px;
    top: 0px;
    transition: 0.2s ease;
    
}
.card-text{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.2s ease;
    color: white;
}

.card-text h3{
    font-weight: 700;
    text-transform: uppercase;
}

.card-text p
{
    margin-top: 15px;   
}
.card-image
{
    width: 100%;
}
.cards-item:hover .card-text
{
    display: block;
    transition: 0.2s ease;
}
.cards-item:hover .hidden-card
{
    display: block;
    transition: 0.2s ease;
}


.staff {
    width: 100%;
    background-color: white;
    padding-bottom: 100px;
}

.staff-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.staff-person {
    max-width: 270px;
    padding: 100px 15px 0px 15px;
}

.staff-person h3 {
    font-family: 'Raleway', sans-serif;
    color: #2D3033;
    font-size: 1.57rem;
    margin-top: 30px;
    text-align: left;
}

.staff-person h4 {
    font-family: 'Raleway', sans-serif;
    color: #E84545;
    font-size: 0.93rem;
    margin-top: 11px;
    text-transform: uppercase;
    text-align: left;
}

.staff-person p {
    font-family: 'Raleway', sans-serif;
    color: #6C7279;
    font-size: 1rem;
    margin-top: 30px;
    line-height: 1.5;
    text-align: left;
}

.staff-icons {
    display: flex;
    margin-top: 30px; 
}

.staff-icon {
    width: 41px;
    height: 41px;
    border: 1px solid #c6cacc;
    margin-right: 3px;
    text-align: center;
    transition: 0.3s ease;
}

.staff-icon a {
    display: block;
    text-decoration: none;
    color: #c6cacc;
    font-size: 1.5rem;
    margin-top: 10px;
    transition: 0.3s ease;
}

.staff-icon:hover {
    border: 1px solid #e84545;
    transition: 0.3s ease;
}
.staff-icon:hover a {
    color: red;
    transition: 0.3s ease;
}

.reviews {
    width: 100%;
    display: flex;
    background-color: #53354a;
}

.reviews-photo {
    width: 50%;
    background-image: url(../images/Layer\ 19@1X.png);
    background-size: cover;
    background-position: center;
}

.reviews-wrap {
    width: 50%;
    padding: 115px 20px 107px 85px;
}

.review {
    color: white;
    font-family: 'Cardo', serif;
    font-style: italic;
    font-size: 2.57rem;
    text-align: left;
    line-height: 1.5;
}


.review-person {
    font-family: 'Raleway', sans-serif;
    font-size: 0.93rem;
    color: white;
    text-align: left;
    text-transform: uppercase;
    margin-top: 30px;
}

.review-dot {
    text-align: center;
    padding-top: 60px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #755d6e;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: white;
}

.download {
    width: 100%;
    background-color: white;
    padding: 99px 0px;
}

.download-wrap h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #2D3033;
    text-align: center;
}

.download-wrap p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.93rem;
    font-weight: 700;
    color: #2D3033;
    margin-top: 16px;
    text-transform: uppercase;
    text-align: center;
}
.download-wrap{
    text-align: center;
}
.download-wrap a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 0.93;
    font-weight: 600;
    color: white;
    margin-top: 39px;
    padding: 19px 83px;
    background-color: #e84545;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease;
}

.download-wrap a:hover {
    background-color: red;
    transition: 0.2s ease;
}


.footer {
    width: 100%;
    background-color: #3a3e64;
    padding-bottom: 87px;
}

.contacts-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    
}
.contact
{
    padding: 0 30px;
    width: 288px;
    text-align: center;
}
.contact h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    padding-top: 72px;
}

.contact p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: white;
    opacity: 0.5;
    margin-top: 21px;
    line-height: 1.5;
    
}

.contact-icons {
    display: flex;
    margin-top: 20px; 
    justify-content: center;
}

.contact-icon {
    width: 41px;
    height: 41px;
    border: 1px solid white;
    margin: 0px 3px;
    text-align: center;
    transition: 0.2s ease;
}

.contact-icon a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
    transition: 0.2s ease;
}

.contact-icon:hover {
    border: 1px solid #e84545;
    transition: 0.2s ease;
}
.contact-icon:hover a {
    color: #e84545;
    transition: 0.2s ease;
}

.copyright {
    width: 100%;
    background-color: #313454;
    padding: 30px 0px;
}

.copyright p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #808080;
    line-height: 1.5;
    text-align: center;

}
.copyright span {
    color: white;
    text-align: center;
}

@media (max-width: 1200px) {
	.container {
		max-width: 95%;
    }
}

@media (max-width: 1000px) {
	.navigation-item a {
        margin-left: 30px;
    }
    .reviews-photo {
        display: none;
    }
    .reviews-wrap {
        width: 100%;
        padding: 115px 40px 107px 40px;
    }
}

@media (max-width: 800px) {
	.navigation {
        display: none;
    }
   
}

@media (max-width: 650px) {
    .advantages {
        max-width: 500px;
    }
}

@media (max-width: 600px) {
    .staff-person {
        max-width: 450px;
    }
}

@media (max-width: 425px) {
    .activebox {
        font-size: 2.64rem;
    }
}